// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$french-color: #FFADAD;
$english-color: #FFD6A5;
$german-color: #FDFFB6;
$maths-color: #9BF6FF;
$physics-color: #A0C4FF;
$biology-color: #d0f4de;
$chemistry-color: #ffccd5;
$it-color: #C9E4DE;
$sport-color: #FAEDCB;
$geography-color: #a5ffd6;
$history-color: #8093f1;
$economy-color: #bfbee9;
$music-color: #eac4d5;
$philosophy-color: #affdd6;
$civic-education-color: #fbf8cc;

$one-color: #B7094C;
$one-half-color: #A01A58;
$two-color: #892B64;
$two-half-color: #723C70;
$three-color: #5C4D7D;
$three-half-color: #455E89;
$four-color: #2E6F95;
$four-half-color: #1780A1;
$five-color: #0091AD;
$five-half-color: #3dccc7;
$six-color: #3dccc7;
