@media screen and (max-width: 768px) {
  .schedule-table table tbody td, th {
    padding: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .schedule-table table tbody td, th {
    padding: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 1025px) {
  .schedule-table table tbody td, th {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.gradient-background{
  background: linear-gradient(to right, #7663bb 0%, #9b80a8 100%);
  border-radius: 20px;
}

.box-shadow-parent{
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}



.graph-background{
background-color: lightblue;
border-radius: 10px;

}

.calendar-parent{
  border-radius: 3px;
}

table{
  table-layout: fixed;
}
