.gradient-background {
  background-color: $background-color_1;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #7e50c8 46%,
    #de70ff 100%
  );
  border-radius: 8px;
  color: white;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.box-shadow-parent {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.parent-second-container {
  background-color: white;
  height: 100%;
  background-color: #fff6;
  width: 98%;
  border-radius: 20px;
  margin-left: 18px;
  margin-top: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-right: 80px;
}

.parent-second-container .subtitles {
  margin: 10px;
}

.parent-card-chart {
  // padding: 20px;
}

.parent-card-timetable {
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60%;
}

.graph-background {
  // background-color: lightblue;
  border-radius: 10px;
}

.calendar-parent {
  border-radius: 3px;
  padding-left: 40px;
}

table {
  table-layout: fixed;
}

.rounded-table {
  border-radius: 10px;
  overflow: hidden;
}

.rounded-table tr:last-child th,
.rounded-table tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .schedule-table table tbody td,
  th {
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .schedule-table table tbody td,
  th {
    padding: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (min-width: 1025px) {
  .schedule-table table tbody td,
  th {
    padding: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
