body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito", Courier, monospace;
  background-image: asset-url("background.png");
}

.header {
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.side-nav {
  width: 120px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  padding: 30px 15px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(105px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: width 0.5s;
  transition-timing-function: ease-in-out;
  &:hover {
    width: 240px;
    transition: width 0, 5s;
    padding: 8px;
    .user div {
      display: block;
    }

    .user {
      width: 90%;
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
      height: 220px;
    }

    .star-img {
      display: block;
    }
    .user-img {
      margin: 0;
    }

    ul li p {
      display: block;
      width: 100%;
      transition: width 0.5s;
      transition-timing-function: ease-in-out;
    }

    ul li img {
      margin-right: 10px;
    }

    ul li {
      justify-content: flex-start;
    }
  }
}

.side-nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 8px;
}

.side-nav ul li a p {
  padding-left: 5px;
  align-items: center;
}

/* Ajoutez des styles hover si nécessaire */
.side-nav ul li a:hover {
  background-color: white;
  border-radius: 8px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 140px;
  font-size: 12px;
  padding: 8px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 35px;
  margin-top: 10px;
}

.user div {
  display: none;
  margin-top: 12px;
}

.user h2 {
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}

.user-img {
  width: 40px;
  border-radius: 50%;
  margin: auto;
}

.star-img {
  width: 20px;
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  list-style: none;
  padding: 0 15px;
}

ul li {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

ul li img {
  width: 30px;
  margin-right: 10px;
}

ul li p {
  white-space: nowrap;
  display: none;
  width: 0px;
  overflow: hidden;
}
