<h1>Teacher Dashboard</h1>
<div class="container-ok" id="top-cards-dashboard">
  <div class="card">
    <div class="header"></div>
      <div class="info">
        <p class="title">How to make this material card ?</p>
      </div>
      <div class="footer">
        <p class="tag">#HTML #CSS </p>
    </div>
  </div>
  <div class="card">
    <div class="header"></div>
      <div class="info">
        <p class="title">How to make this material card ?</p>
      </div>
      <div class="footer">
        <p class="tag">#HTML #CSS </p>
    </div>
  </div>
  <div class="card">
    <div class="header"></div>
      <div class="info">
        <p class="title">How to make this material card ?</p>
      </div>
      <div class="footer">
        <p class="tag">#HTML #CSS </p>
    </div>
  </div>
  <div class="card">
    <div class="header"></div>
      <div class="info">
        <p class="title">How to make this material card ?</p>
      </div>
      <div class="footer">
        <p class="tag">#HTML #CSS </p>
    </div>
  </div>
    <div class="card">
    <div class="header"></div>
      <div class="info">
        <p class="title">How to make this material card ?</p>
      </div>
      <div class="footer">
        <p class="tag">#HTML #CSS </p>
    </div>
  </div>
</div>
