<div class="navbar">
  <div class="container-fluid">
    <nav>
      <div id="navbar-calendar">
        <button id="previous-day">&#8592;</button>
        <span id="calendar-text">1 Janvier 2020</span>
        <button id="next-day">&#8594;</button>
        <button id="open-month-calendar"><i class="icon-de-votre-choix"></i></button>
      </div>
      <div class="searchbar">
        <input type="text" id="searchbar" placeholder="Rechercher...">
        <button id="searchbar-button"><i class="icon-de-votre-choix"></i></button>
      </div>
    </nav>
  </div>
</div>
