<div data-controller="datepicker" class="navbar">
  <div class="container-fluid">
    <nav>
      <div id="navbar-calendar">

      </div>
      <!-- Reste de la barre de navigation -->
    </nav>
  </div>
</div>
