<header class="d-flex header-container">
  <div class="date-container">
    <div class="today-container">
      <%= Time.now.strftime("%B %d, %Y %H:%M") %>
    </div>
  </div>

  <div class="videocall-container">
    <i class="fa-solid fa-video px-2"></i>
    <div class="video-caller px-2">
      <a href="https://zoom.us/signin#/login" target="_blank" class="zoom-style">ZOOMcall</a>
    </div>

    <div class="search-contacts-container px-2">
      <i class="fa-solid fa-magnifying-glass px-2"></i>
      <div class="search-contacts">
        Contacts
      </div>
    </div>
  </div>

  <div class="login-details">
    <p class="text-center">Logged in as: <%= current_user.first_name %> <%= current_user.last_name %> <i class="fa-regular fa-user"></i></p>
  </div>
</header>
