<div class="card">
  <div class="header"></div>
  <h1><%= section.name %></h1>
    <div class="info">
    <i class="fa-solid fa-bell">   <p class="title"><%= section.name %></p></i>
    <i class="fa-solid fa-person"> <p class="title"><%= section.students.count %> Students</p></i>
    </div>
    <div class="footer">
      <p class="tag">#HTML #CSS </p>
  </div>
</div>
