<div class="card-dashboard">
  <div class="header"></div>
    <h1><%= section.name %></h1>
      <div class="info">
      <div class="notif">
      <i class="fa-solid fa-bell"></i><p class="title"><%= rand(2..4) %> notifications</p>
      </div>
      <div class="students-number">
      <i class="fa-solid fa-person"> </i><p class="title"><%= section.students.count %> Students</p>
      </div>
      </div>
      <div class="footer">
        <p class="tag"></p>
  </div>
</div>
