<div class="card-dashboard">
  <div class="card-border-top"></div>
    <div class="img" id="section-name">
      <%= section.name %>
    </div>
    <div class="bell">
      <span>
        <i class="fa-solid fa-bell"></i>
        <p class="title">
          <%= rand(2..4) %> notifications
        </p>
      </span>
    </div>
      <p class="job">
        <%= section.students.count %> Students
      </p>
</div>
