<div class="announcement mb-2">
  <h6 class="text-center bg-warning"><strong>Environmental Science Essay</strong></h6>
  <p>Write a 1500-word essay discussing the effects of plastic pollution on marine ecosystems.</p>
</div>
<br>
<div class="announcement">
  <h6 class="text-center bg-warning"><strong>World History Presentation</strong></h6>
  <p>Prepare a 20-minute PowerPoint presentation covering at least two ancient civilizations of your choice</p>
</div>
