<div class="announcement mb-2">
  <h6 class="text-center"><strong>Parent-Teacher Meeting</strong></h6>
  <p>The first parent-teacher meeting of the year will be held on September 15th. We encourage all parents to attend.</p>
  <small>Posted on: September 10, 2023</small>
</div>
<br>
<div class="announcement">
  <h6 class="text-center"><strong>School Science Fair</strong></h6>
  <p>Our annual school science fair is scheduled for October 20th. We look forward to seeing the innovative projects from our students.</p>
  <small>Posted on: October 1, 2023</small>
</div>
