<div class="announcement mb-2">
  <h6 class="text-center bg-primary"><strong>Parent-Teacher Meeting</strong></h6>
  <p>The first parent-teacher meeting of the year will be held on September 15th. We encourage all parents to attend.</p>
  <small class="bg-secondary">Posted on: February 10, 2024 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-double" style="margin-left: 10px;"><polyline points="2 12 6 16 10 8"></polyline><polyline points="12 12 16 16 20 8"></polyline></svg></small>
</div>
<br>
<div class="announcement">
  <h6 class="text-center bg-primary"><strong>School Science Fair</strong></h6>
  <p>Our annual school science fair is scheduled for October 20th. We look forward to seeing the innovative projects from our students.</p>
<small class="bg-secondary">Posted on: January 16, 2024 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-double" style="margin-left: 10px;"><polyline points="2 12 6 16 10 8"></polyline><polyline points="12 12 16 16 20 8"></polyline></svg></small>
</div>
