<div class="parent-second-container d-flex flex-column">
  <div class="d-flex justify-content-evenly mb-1">

    <!-- CHART -->
    <div class="parent-card-timetable">
      <div class="row d-flex justify-content-center mb-1" data-controller="display-charts" data-display-charts-gradesavg-value="<%= @grades_for_charts.to_json %>">
      <h4 class="text-center"> <%= current_user.student.first_name %>'s  performance </h4>
        <div class="col-md-8 p-2 card graph-background align-self-end">
          <div class="card-body">
            <canvas id="myBarChart" data-display-charts-target="bar"></canvas>
          </div>
        </div>
      </div>
    </div>


    <!-- ANNOUNCEMENTS -->
    <div class="parent-card-annoucement pt-4">
      <div>
        <h4 class="text-center">Tomorrow's Assignements </h4>
      </div>
      <div class="card post-it box-shadow-parent">
        <div class="card-body" style="max-width:400px">
          <%= render 'sections/parent_announcements' %>
        </div>
      </div>
    </div>
  </div>

  <!-- TIMETABLE -->
  <div class="container d-flex flex-column">
    <h4 class="text-center">Timetable </h4>
    <div class="row d-flex align-items-baseline justify-content-center mb-4">
      </div>
      <div class="card-body calendar-parent">
        <%= render 'sections/parent_calendar' %>
    </div>
  </div>
</div>
