<!-- app/views/parent_dashboard/index.html.erb -->

<%= content_for :title, "Parent Dashboard" %>

<div class="container mt-5">
  <div class="row mt-3">
    <!-- Calendar -->
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Weekly Calendar</h5>
          <!-- Weekly Calendar -->
        </div>
      </div>
    </div>
    <!-- Announcements -->
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Announcements</h5>
          <!-- Announcements -->
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <!-- Graph 1 -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Graph 1</h5>
          <!-- Graph 1  -->
        </div>
      </div>
    </div>
    <!-- Graph 2 -->
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Graph 2</h5>
          <!-- Graph -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Graph 3</h5>
          <!-- Graph 3 -->
        </div>
      </div>
    </div>
  </div>

 <!-- <div class="row mt-3">-->

<!--    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Information</h5>
          <!-- Bilgilendirme buraya gelecek -->
<!--        </div>
      </div>
    </div>
  </div>-->
</div>

<!--<h1>Parent's Dashboard Page!</h1>
<br>

<h1>Welcome <%#=@parent.first_name%>!</h1>
<br>
<h1>Your Child is: <%#=@student.first_name%>!</h1>
<br>
<h1>Your Child is in: <%#=@section.name%>!</h1>
<br>
<h1>Your Child's Grades: </h1>
<br>-->
<!-- <p><%= @user %></p> -->
<!--<div class="container w-75 ">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Grade</th>
        <th scope="col">Exam Name</th>
      </tr>
    </thead>
    <tbody>
      <%# @student_grades.each_with_index do |grade, index| %>-->
<!--        <tr>
          <th scope="row"><%#= index + 1 %></th>
          <td><%#= course_name = Course.find(grade.course_id).name %></td>
          <td><%#= grade.grade %></td>
          <td><%#= grade.exam_name %></td>
        </tr>
      <%#end%>-->
<!--    </tbody>
  </table>
</div>-->
