<h1>Welcome Teacher!</h1>
<div class="second-container">
<h2>All your classes </h2>
<div class="container-ok" id="top-cards-dashboard">
  <div class="card-dashboard">
    <div class="header"></div>
    <h1>3A</h1>
      <div class="info">
      <i class="fa-solid fa-bell">   <p class="title">4</p></i>
      <i class="fa-solid fa-person"> <p class="title">36 students</p></i>
      </div>
      <div class="footer">
        <p class="tag"></p>
    </div>
  </div>
  <div class="card-dashboard">
    <div class="header"></div>
    <h1>3A</h1>
      <div class="info">
      <i class="fa-solid fa-bell">   <p class="title">4</p></i>
      <i class="fa-solid fa-person"> <p class="title">36 students</p></i>
      </div>
      <div class="footer">
        <p class="tag"></p>
    </div>
  </div>
  <div class="card-dashboard">
    <div class="header"></div>
    <h1>3A</h1>
      <div class="info">
      <i class="fa-solid fa-bell">   <p class="title">4</p></i>
      <i class="fa-solid fa-person"> <p class="title">36 students</p></i>
      </div>
      <div class="footer">
        <p class="tag"></p>
    </div>
  </div>
  <div class="card-dashboard">
    <div class="header"></div>
    <h1>3A</h1>
      <div class="info">
      <i class="fa-solid fa-bell">   <p class="title">4</p></i>
      <i class="fa-solid fa-person"> <p class="title">36 students</p></i>
      </div>
      <div class="footer">
        <p class="tag"></p>
    </div>
  </div>
    <div class="card-dashboard">
    <div class="header"></div>
    <i class="fa-solid fa-plus" id="plus"></i>
      <div class="info">
        <p class="title" id="add-new-class">Add a new class</p>
      </div>
      <div class="footer">
        <p class="tag"></p>
    </div>
  </div>
  </div>
</div>
