<h1>Welcome Teacher!</h1>
<h2>All your classes </h2>
<div id="top-cards-dashboard">
   <% @sections.each do |section| %>
      <%= render 'sections/grades', section: section  %>
   <% end %>
    <div class="card">
    <div class="header"></div>
    <i class="fa-solid fa-plus" id="plus"></i>
      <div class="info">
        <p class="title" id="add-new-class">Add a new class</p>
      </div>
      <div class="footer">
        <p class="tag"></p>
    </div>
  </div>
</div>
