<h1>Welcome Teacher!</h1>
<div class="second-container">
<h2>All your classes </h2>
<div id="top-cards-dashboard">
   <% @sections.each do |section| %>
      <%= render 'sections/grades', section: section  %>
   <% end %>
    <div class="header"></div>
    <i class="fa-solid fa-plus" id="plus"></i>
      <div class="info">
        <p class="title" id="add-new-class">Add a new class</p>
      </div>
      <div class="footer">
        <p class="tag"></p>
    </div>
  </div>
  </div>
  <div class="bottom-container-dashboard">
    <div class="notifications-dashboard">
      <h3>Notifications</h3>
      <div class="notif-cards">
      </div>
      <div class="notif-cards">
      </div>
      <div class="notif-cards">
      </div>
      <div class="notif-cards">
      </div>
      <div class="notif-cards">
      </div>
      <div class="notif-cards">
    </div>
  </div>

  <div class="todo-dashboard">
    <h3>To do today</h3>
    <div class="todo-cards">
    </div>
    <div class="todo-cards">
    </div>
    <div class="todo-cards">
    </div>
    <div class="todo-cards">
    </div>
    <div class="todo-cards">
    </div>
    <div class="todo-cards">
    </div>
  </div>
  </div>
</div>
