.show-classes-container {
  background-color: white;
  background-color: #fff6;
  width: 92%;
  border-radius: 20px;
  margin-left: 65px;
  margin-top: 8px;
}

.show-classes-container h2 {
  margin-left: 140px;
  color: #3405a3;
  margin-bottom: 18px;
}

.add-grades-form {
  margin-left: 140px;
}

.class-name,
.class-grade {
  width: 25%;
}

.class-comment {
  width: 50%;
}

.table-responsive th {
  background-color: #3405a3;
  color: white;
  padding: 15px;
  text-align: left;
}

.table-responsive {
}
.custom-font {
  font-family: "Arial", sans-serif;
}

.table-bordered-radius {
  border-radius: 10px;
  overflow: hidden;
}

.narrow-field {
  width: 30%; /* ou une autre valeur selon vos besoins */
}

.small-mg {
  margin-top: 20px;
}
