$color_1: #000;
$color_2: #ffffff;
$color_3: #fff;

.schedule-table {
	table {
		tbody {
			td {
				vertical-align: middle;
				font-size: 18px;
				font-weight: 400;
				text-align: center;
        background-color: rgba($color: #ffffff, $alpha: 0.4);
				.hover {
					p {
						font-size: 18px;
						margin-bottom: 5px;
						color: $color_2;
						line-height: normal;
					}
					span {
						color: $color_2;
						font-weight: 400;
						font-size: 18px;
					}
					position: absolute;
					left: 50%;
					top: 50%;
					width: 120%;
					height: 120%;
					transform: translate(-50%, -50%) scale(0.8);
					z-index: 99;
					background: #c5c5c5;
					border-radius: 0.25rem;
					padding: 25px 0;
					visibility: hidden;
					opacity: 0.8;
					transition: all 0.3s linear 0s;
				}
			}
      th {
        overflow: hidden;
        text-overflow: ellipsis;
				font-size: 18px;
      }
			td.day {
				font-size: 18px;
        width: 45%;
				font-weight: 400;
        color: $color_2;
				background: #3405a3;
				position: relative;
				transition: all 0.3s linear 0s;
				padding: 1px;
        margin-bottom: 20px;

				&:hover {
					background: #3405a3;
          opacity: 0.8;
					color: $color_3;
				}
			}
      td.active {
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
          font-size: 16px;
        }
        p {
          font-size: 16px;
        }
      }
		}
	}
}
