.header-container {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(105px);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.date-container {
  width: 300px;
  height: auto;
  position: absolute;
  left: calc(33.33% / 2);
  border-radius: 10px;
}
.today-container {
  display: inline;
}
.arrow-container {
  display: inline;
}

a.arrow {
  background-color: #007bff;
  color: white;
  padding: 8px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

a.arrow:hover {
  background-color: #0056b3;
  color: #ffffcc;
}

.today-container {
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 13px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
