$color_1: white;
$color_2: inherit;
$background-color_1: #4158D0;

.notification {
	background-color: $background-color_1;
	background-image: linear-gradient(43deg, #4158D0 0%, #7e50c8 46%, #de70ff 100%);
	border-radius: 8px;
	color: $color_1;
	overflow: hidden;
	position: relative;
	transform-style: preserve-3d;
	perspective: 1000px;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
	&:hover {
		transform: rotateY(10deg) rotateX(10deg) scale(1.05);
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
		&:before {
			transform: translateX(-100%);
		}
		&:after {
			transform: translateX(100%);
		}
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
		transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
		z-index: 1;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
		transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
		z-index: 1;
	}
}
.notification-content {
  padding: 5px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: center;
  height: 100%;
	.notification-title {
    font-size: 24px;
    font-weight: 400;
    color: inherit;
    text-transform: uppercase;
    margin: 10px;
    flex-direction: column;
    display: flex;
	}
	.notification-para1 {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
    flex-direction: column;
    display: flex;
    margin: 10px;
    text-align: center;
    // margin-top: 17px;
	}
  .notification-para2 {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
    flex-direction: column;
    display: flex;
    margin: 10px;
    text-align: center;
    margin-top: 10px;
	}
}

#check_done {
  cursor: pointer;
}
